{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Like Room</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- 外部のCSSファイルを読み込む -->
</head>
<body>
    <header style="background-color: #f5f5dc;"> <!-- アイボリー色の例 -->
        <h1>My Like Room</h1>
        <!-- 検索フォーム -->
        <form method="GET" action="{% url 'search_posts' %}">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        {% if user.is_authenticated %}
            <!-- マイページへのリンク -->
            <a href="{% url 'profile' %}">マイページ</a>
        {% else %}
            <!-- ログインリンク -->
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

        <!-- 新規登録リンク -->
        <a href="{% url 'signup' %}">Signup</a>

        <!-- ソートオプションフォーム -->
        <form action="" method="get">
            <label for="sort">表示順：</label>
            <select name="sort" id="sort">
                <option value="">選択してください</option>
                <option value="latest">最新の投稿順</option>
                <option value="oldest">古い投稿順</option>
                <option value="most_liked">いいね！順</option>
                <option value="most_favorited">お気に入り登録順</option>
            </select>
            <button type="submit">適用</button>
        </form>

         <!-- ウェブサイトの概要 -->
        <div class="site-description">
            <p>Welcome to My Like Room - 部屋の写真を共有して、素敵な部屋を見つけよう!</p>
        </div>

    </header>

    <main>
        <div class="post-container">
            <!-- 投稿一覧の表示 -->
            {% for post in posts %}
                <div class="post-item">
                    <h2>{{ post.title }}</h2>
                    <a href="{% url 'post_detail' post.id %}">
                        {% if post.images.all %}
                            {% if post.images.count > 1 %}
                                <img src="{{ post.images.first.image.url }}" alt="{{ post.title }} Image">
                            {% else %}
                                <img src="{{ post.images.first.image.url }}" alt="{{ post.title }} Image" width="500" height="300">
                            {% endif %}
                        {% else %}
                            <p>No image available</p> <!-- 画像がない場合に表示する文言 -->
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>

    

    <footer style="background-color: #f5f5dc;"> <!-- アイボリー色の例 -->
        <!-- フッターのコンテンツ -->
    </footer>

</body>
</html>
