{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Like Room</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- 外部のCSSファイルを読み込む -->
</head>
<body>
    <header>
        <h1>Welcome to My Like Room</h1>
        <!-- 検索フォーム -->
        <form method="GET" action="{% url 'search_posts' %}">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        {% if user.is_authenticated %}
            <!-- マイページへのリンク -->
            <a href="{% url 'profile' %}">マイページ</a>
        {% else %}
            <!-- ログインリンク -->
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

        <!-- 新規登録リンク -->
        <a href="{% url 'signup' %}">Signup</a>

        <!-- ソートオプションフォーム -->
        <form action="" method="get">
            <label for="sort">表示順：</label>
            <select name="sort" id="sort">
                <option value="">選択してください</option>
                <option value="latest">最新の投稿順</option>
                <option value="oldest">古い投稿順</option>
                <option value="most_liked">いいね！順</option>
                <option value="most_favorited">お気に入り登録順</option>
            </select>
            <button type="submit">適用</button>
        </form>

         <!-- ウェブサイトの概要 -->
        <div class="site-description">
            <p>Welcome to My Like Room - a place to share and discover amazing rooms!</p>
        </div>

    </header>

    <main>
        <!-- 投稿一覧を表示 -->
        <div class="post-container">
            {% for post in posts %}
                <div class="post-item">
                    <h2>{{ post.title }}</h2>
                    <a href="{% url 'post_detail' post.id %}">
                        <img src="{{ post.image.url }}" alt="{{ post.title }} Image" width="500" height="300">
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <!-- フッターのコンテンツ -->
    </footer>
</body>
</html>
